.header-container{
    width: 1200px;
    height: 600px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 215px;
    padding-right: 227px;
    background-color: var(--main-background-color)
}

.no-decoration{
    text-decoration: none;
    list-style-type: none;
}

.logo {
    font-family: var(--secondary-font);
    font-weight:700;
    font-size: 26px;
    text-decoration: none;
}

.logo-in-header{
    margin-top: 24px;
    margin-bottom: 25px;
    cursor: pointer;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color-Web{
  color:#2196f3
}

.header-btns{
    font-family: var(--main-font);
    font-weight: 500 ;
    font-size: 14;
    text-align: center;
    color: #212121;
    text-decoration: none;
    cursor: pointer;
}
.btn-Agencja-in-header{
margin-left: 93px}

.btn-Portfolio-in-header{
    margin-left: 46px;
    margin-right: 46px;
}
.contacts-in-header{
    font-family: var(--main-font);
    font-weight: 500 ;
    font-size: 14;
    text-align: center;
}
.icon-contact-link{
    justify-content: center;
    align-items: center;
    fill: #757575);
    margin-right: 10px ;
  } 

.contacts-in-header:hover,
.contacts-in-header:focus{
color: #2196f3
}

.e-mail-in-header{
margin-left: 371px;
color:#2196f3
}
.phone-number-in-header{
    color:#757575;
    margin-left: 50px;
}

:root{
    --main-font: 'Roboto';
    --secondary-font: 'Raleway';
    --main-background-color: #ffffff;
}

.fonts{
font-family:'Roboto'
}


/*======MAIN PAGE======*/


.solutions-container{
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: auto;
    padding-right: auto;
    background-color: #2f303A;
}

.solutions-title{
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1,364;
    letter-spacing: 0,06em;
    color: #ffffff;
    text-align: center
}
.btn-in-solutions-container{
    width: 200px;
    height: 50px; 
    background-color: #2196f3;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1,875;
    letter-spacing: 0,06em;
    color: #ffffff;
    text-align: center
}

.Lorem-ipsum-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-background-color);
    width:1200px;
    height: 289px
}

.what-we-do-container{
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
        background-color: var(--main-background-color);
        width:1600px;
        height:438px;
        padding-top: 50px;
        padding-left: 215px;
        padding-right: 215px;
        padding-bottom: 94px;
}

.Lorem-ipsum-box1 .Lorem-ipsum-box2 .Lorem-ipsum-box3 .Lorem-ipsum-box4{
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #2196f3;
}
.color1{
    color:#212121;
}
.color2{
   color: #2196F3;  
}
.LOREM-IPSUM-title{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1,172;
    letter-spacing: 0,02em;
    color: #212121;
    text-align: left
}
.LOREM-IPSUM-text{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14;
    line-height: 1,714;
    letter-spacing: 0,02em;
    color: #212121;
    text-align: left;
    padding-top: 94px;
    padding-bottom: 94px;
}

.What-we-do-title{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36;
    line-height: 1,172;
    letter-spacing: 0,02em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px
}

.Our-team-title{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36;
    line-height: 1,172;
    letter-spacing: 0,02em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px
}
.name{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16;
    line-height: 1,188;
    letter-spacing: 0,03em;
    text-align: center
}

.job{
    font-family: var(--main font);
    font-size: 16;
    line-height: 1,172;
    letter-spacing: 0,03em;
    color: #757575;
    text-align: center
}

.our-team-container{
    background-color: #f5f4fa;
    width: 1200px;;
    height:648px
}
.boxes-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f4fa;
    width: 1200px;;
    height:462px
}

.our-team-box:not(:last-child){
    margin-right: 30px;
}

.padding{
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 215px;
    padding-right: 215px;
}

/*===== SECTION OUR CLIENTS======*/
.our-customers-container{
    width: 1200px;
    height: 372px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e5e5
  }

  .clients-title{
    text-align: center;
    letter-spacing: 0.03em ;
    font-weight: 700;
    font-size: 36px ;
    line-height: 1.16;
    padding-bottom: 50px ;
  }
  .clients-list{
  display: flex;
  flex-wrap:wrap;
  }
  
  .clients-rectangle{
    width: 170px ;
    height: 92px ;
    border: 1px  solid  #AFB1B8 pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill:  #AFB1B8;
  }
  
  .clients-rectangle:hover,
  .clients-rectangle:hover{
    border: 1px  solid;
    fill: var(--main-background-color);
  }
  
  .clients-rectangle-icon{
    flex-basis: calc((100%  - 150px) / 6);
  }
  
  .clients-item:not(:first-child){
    margin-left: 30px ;
    margin-right:0;  
  }
  /*======END SECTION OUR CLIENTS======*/
/*======END MAIN PAGE======*/

/*======PAGE PORTFOLIO======*/

.portfolio-inline-flex-container{
    display: inline-flex;
    align-items: center;
    margin: auto;
    background-color:#ffffff
}

.portfolio-flex-item{
    padding: 30px;
    background-color:#ffffff;
    text-align:left
}

.porfolio-image-size{
    width:370px;
    height:294px
}


.portfolio-text_bottom-figcaption-image-nameproject{
    font-family: var(--main-font);
    font-weight: 700 ;
    font-size: 18;
    line-height: 2;
    letter-spacing: 0,06em;
    color: #212121;
}

.portfolio-text_bottom-figcaption-image-category{
    font-family: var(--main font);
    font-size: 16;
    line-height: 1,875;
    letter-spacing: 0,03em;
    color:#757575
}
.portfolio-list-btn{
    font-family: var(--main font);
    font-weight: 500;
    font-size: 16;
    text-align: center;
    margin-bottom: 40px;
    height: 38px;
    background-color: #f5f4fa;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #f5f4fa;
}

.all{
    width: 93px;
    background-color: #2196f3;
}

.pages {
width: 93px
}

.apps{
width: 114px
}

.design{
width: 91px
}

.maketing{
width: 121px
}


.portfolio-btn-inline-flex-container{
    display: inline-flex;
    align-items: center;
    background-color:#ffffff;
    width: 1600px;
    height: 152px
}

.portfolio-card-box{
    width: 370px;
    height: 404px;
}

.portfolio-card-border{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: turquoise;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

/*======END PAGE PORTFOLIO======*/


/*======NAVIGATION======*/
.modal-btn:hover,
.modal-btn:focus{
background-color: #7e8b96;
color:#ff4040

}
.links-color:hover,
.links-color:focus{
    color:#ff4040
}
/*======END NAVIGATION======*/

/*======FOOTER======*/
.footer-container{
    display: flex;
    align-items: center;
    width: 1200px; 
    height: 252px; 
    background-color: #2f303A;
}
.footer-items{
    margin-left:215px;
}

.logo-in-footer{
    line-height: 1,174;
    margin-top: 60px;
    color:#ffffff
}

.contacts-in-footer{
    font-family: var(--main-font);
    font-size: 14 px;
    line-height: 1,714;
    letter-spacing: 0,03em;
    margin-top: 20px;
    color: #fff;
}

.footer-invitation {
    display: flex;
    font-weight: 700;
    text-transform:capitalize;
    line-height: 1,1;
    color: #fff;
    margin-bottom: 20px ;
  }
  
  .footer-social-link {
  margin-bottom: 20px ;
  }
  
  .footer-icon {
    display: flex;
  }
  
   .footer-icon-li:not(:last-child) {
      margin-right: 10px ;
    }
  
  .footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
    height: 44px;
    width: 44px;
  }
  
  .footer-icon-img {
    width: 20px ;
    height: 20px ;
    fill: #fff;
  }
  
  .footer-icon-link:hover,
  .footer-icon-link:focus {
    background-color: #2196f3;
  }
  
  
  
  .footer-social-link{
    display: flex;
  }
/*======END FOOTER======*/

/*-------icons---------*/


.clients-banner{
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    padding-bottom: 50px;
}
  
  
  .social-links{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.2em;
    color: #303030;
  }
  
  .social-links_link-hover .social-links_link:focus {
    color: var(--main color);
  }
  
  .social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .social-list_link {
    display: block;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .social-icon-i {
    width: 10.28px;
    height: 10.28px;
  }
  
  .social-icon-t {
    width: 20px;
    height: 16.25px;
  }
  
  .social-icon-f {
    width: 10px;
    height: 20px;
  }
  
  .social-icon-l {
    width: 4,15px;
    height: 13.35px;
  }
  
  .social-icon:hover,
  .social-icon:focus {
    background-color: var(--main-color);
  }

  .team-descriptions-icons{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px ;
    padding-bottom: 30px ;
  }
  
  .team-description-icons-item:not(:last-child){
    margin-right: 10px ;
  }
  
  .team-description-icons-link{
    display: block;
    height: 44px ;
    width: 44px ;
    background-color:  #FFFFFF;
    border-radius: 50% ;
    display:flex;
    justify-content:center;
    align-items: center;
    fill:  #AFB1B8
  }
  
  .team-description-icons-link:hover,
  .team-description-icons-link:focus{
    background-color: var(--main-color);
  }
  

  .media{
    padding-left: 70px;
  }
  
  .media-banner{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .media-icons{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 30px;
  }
  
  .media-icons-item:not(:last-child){
    margin-right: 10px;
  }
  
  .media-icons-link{
    display: block;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items: center;
    fill: #FFFFFF;
  }
  
  .media-icons-link:hover{
    background-color: var(--main-color);
    fill: #FFFFFF;
  }
  
  /*-------icons---------*/
  